{
  "Logging": {
      "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
      }
    },
"AllowedHosts": "*",
  "ConnectionStrings": {
    "ConnectionString": "Server=my_sql_server;Database=database;User Id=id;Password=password;"
  },
  "Jwt": {
    "Issuer": "Issuer",
    "Audience": "Audience",
    "Key": "Your secret key"
  }
}
